
<% @images = ["lucas.jpg","nathan.jpg","joao.jpg", "fattah.jpg"]  %>

<div class="container-fluid" id="container-index">
  <div class="row">
    <% @storage_spaces.each do |storage_space| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: url(<%= "#{storage_space.photo}"%>);">
          <img class="card-user", <%= image_tag("#{@images.sample}") %>
            <%= link_to "", storage_space_path(storage_space), class: "card-link" %>
        </div>
        <div class="card-footer">
          <p>Title: <%= storage_space.title %> | Capacity: <%= storage_space.capacity %> </p>
          <p>Address: <%= storage_space.address_city %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
