<h1>StorageSpaces#index</h1>
<p>Find me in app/views/storage_spaces/index.html.erb</p>

<h1>List of Storage Spaces</h1>
<% @storage_spaces.each do |storage_space| %>
  <%= link_to "#{storage_space.id}", storage_space_path(storage_space) %>
  <p>Description: <%= storage_space.description %></p>
  <p>City: <%= storage_space.address_city %></p>
  <p>ZIP: <%= storage_space.address_zip_code %></p>
  <p>Country: <%= storage_space.address_country %></p>
  <p>Owner (Name): <%= storage_space.user.first_name %></p>
  <p>Owner (Email): <%= storage_space.user.email %></p>
<% end %>

<h2>Links</h2>
<ul>
  <li><%= link_to "Create new Storage Space", new_storage_space_path %></li>
</ul>
