<%= content_for(:title) do %>
All Storage Space
<% end %>

<% @images = ["lucas.jpg","nathan.jpg","joao.jpg"]  %>

<div class="container-fluid" id="container-index">
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <% @storage_spaces.each do |storage_space| %>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.), rgba(0,0,0,0.2)), url(<%= "#{storage_space.photo}"%>);">
              <div class="card-category"><%= storage_space.title %></div>
                <div class="card-description">
                  <p>Capacity: <%= storage_space.capacity %></p>
                  <p>Description: <%= storage_space.description %></p>
                  <p>Address: <%= storage_space.address_city %></p>
                </div>

                <img class="card-user", <%= image_tag("#{@images.sample}") %>
                <%= link_to "", storage_space_path(storage_space), class: "card-link" %>
              </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-4">
      <div id="map" style="width: 100%; height: 600px;" data-markers="<%= @markers.to_json %>"></div>
    </div>
  </div>
</div>
