
<div class="container">
  <h1>List of Storage Spaces</h1>
  <div class="row">
    <% @storage_spaces.each do |storage_space| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= "#{storage_space.photo}"%>);">
          <div class="card-category"><%= storage_space.capacity %></div>
          <div class="card-description">
            <h2><%= link_to storage_space.title %></h2
            <p>Description: <%= storage_space.description %></p>
            <!-- <p>City: <%= storage_space.address_city %></p> -->
            <!-- <p>ZIP: <%= storage_space.address_zip_code %></p> -->
            <!-- <p>Country: <%= storage_space.address_country %></p> -->
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay" alt="<%= "#{storage_space.user.first_name if storage_space.user } #{storage_space.user.last_name if storage_space.user}" %>">
          <%= link_to "", storage_space_path(storage_space), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
