<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h5>Fill in the form and save your storage space</h5>
      <!-- simple form -->
      <%= simple_form_for @storage_space do |f| %>
        <%= f.input :description, required: false %>
        <%= f.input :capacity %>
        <%= f.input :address_city %>
        <%= f.input :address_zip_code %>
        <%= f.input :address_country, priority: ["US","CA","HK","CN","AE"], as: :country %>
        <%= f.input :photo %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
