<%= content_for(:title) do %>
Rent your empty spaces to those that need that little bit extra storage
<% end %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.1) 85%), url(<%= image_path "erda-estremera-581452-unsplash.jpg" %>);">

    <div class="banner-content">
      <h1>Got extra storage?</h1>
      <p>Make money and rent it out!</p>
      <% if !user_signed_in?  %>
      <%= link_to t(".sign_up", default: "Sign Up"), new_user_registration_path, class: "btn-medium" %>
      <% end %>
  </div>
</div>

<div class="banner-lower" style="background-image: url(<%= image_path "too_many_toys.jpg" %>);">
    <div class="banner-content">
      <h1>Need extra storage?</h1>
      <p>Click here to find storage near you.</p>
      <%= render 'shared/search_bar' %>
    </div>
</div>

<div class="main-container top-container div-margin-bottom">
  <div class="container">
    <div class="row container-text">
      <h2>Current Storage Opportunities</h2>
    </div>
  </div>
</div>

<%= render 'storage_spaces/index', storage_spaces: @storage_spaces %>
